
<div class="fluid-container">
		<div class="row">
<center>
			<div class="col-md-12">
				<div class="col-md-3"></div>

					<div class="col-md-6 well">
					<h1 >Login</h1>

							 <label for="name" class="control-label">User ID</label>
							 
		 					<input type="text"  class="form-control" placeholder="Enter user id" ng-model="userID">
		 					

		 					<label for="password" class="control-label">Password</label>
							 
		 					<input type="password"  class="form-control" placeholder="Enter Password" ng-model="password">
		 					
		 					<br>

		 					<button type="submit" class="btn btn-primary" ng-click="loginUser(userID,password)">Login</button>
		 					<br>
		 					<p>Not Registered ?<a href="#!register"> Click here</a></p>

		 					<p>Forgot Password <a href="#!forgotpass">Click here</a></p>
						</div>
				<div class="col-md-3"></div>
			</div>
			</center>

			
	</div>
</div>